<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="icon" href="/favicon.ico">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />-->
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://kit.fontawesome.com/bfbbcd5d2e.js" crossorigin="anonymous"></script>

      
</head>
<body>
    <h1>Todo List </h1>
    <form action="/home" class="input-container" method="post">
        <input type="text" placeholder="Enter Todo" id="input-todo" name="todo_name" required/>
        <button id="add-todo">+</button>
    </form>
 <div class="container">
    <div class="row">
        <ul class="todo_sidebar">
           <div class="text">
                <li>
                    <a href="test" style="text-decoration: none">
                        <span class="material-symbols-outlined">inbox</span>
                        <span class="link_name">Inbox</span>
                    </a>
                </li>
                <li>
                    <a href="#" style="text-decoration: none">
                        <span class="material-symbols-outlined">calendar_today</span>
                        <span class="link_name">Today</span>
                    </a>
                </li>
                <li>
                    <a href="#" style="text-decoration: none">
                        <span class="material-symbols-outlined">Upcoming</span>
                        <span class="link_name">Upcoming</span>
                    </a>
                </li>
                <li>
                    <a href="#" style="text-decoration: none">
                        <span class="material-symbols-outlined">grade</span>
                        <span class="link_name">Favorities</span>
                    </a>
                </li>
           </div>
            <div class="box">
                <div class="cal">
                    <div class="left" style="position: absolute;">
                         <div class="month">
                             <i class="fa-solid fa-angle-left prev"></i>
                             <div class="date"></div>
                             <i class="fa-solid fa-angle-right next"></i>
                         </div>
                         <div class="weeks">
                             <div>sun</div>
                             <div>mon</div>
                             <div>tue</div>
                             <div>wed</div>
                             <div>thu</div>
                             <div>fri</div>
                             <div>sat</div>
                         </div>
                         <div class="days"></div>
                    </div> 
                 </div>
            </div>
        </ul>
    </div>
    <div class="row_1">
        <section class="home-section">
            <nav>
                <div class="sidebar-button">
                    <span class="dashboard">Todos</span>
                </div>
                <div class="month">
                    <i class="fa-solid fa-angle-left prev"></i>
                    <button class="today-btn">Today</button>
                    <i class="fa-solid fa-angle-right next"></i>
                </div>
                <div class="profile-details">
                    <span class="material-symbols-outlined">person</span>
                    <span class="admin_name">Jagan</span>
                </div>
            </nav>
            <div class="right">
                <div class="today-date">
                    <div class="event-day">{{ strftime }}</div>
                    <div class="event-date">{{ str_now }}</div>
                </div>
            </div>
            <div class="todo-container">
                {% for item in items %}
                <div class="todo">
                  <p>{{ item.name }}</p>
                  <div class="actions">
                        <form action="{{url_for('checked_todo', todo_id=item.id)}}" method="POST">
                                <label class="switch">
                                    <input type="checkbox" {% if item.checked %}checked{% endif %} onchange="this.form.submit()">
                                    <span class="slider"></span>
                                </label>
                        </form>
                        <form action="{{url_for('done_todo', todo_id=item.id)}}" method="POST">
                          <button class="done" name="done">Done</button>
                        </form>
                        <form action="{{url_for('delete_todo', todo_id=item.id)}}" method="POST">
                        <button class="dele">Delete</button>
                        </form>
                  </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
 </div>
 <script>
    const calendar = document.querySelector(".calendar"),
  date = document.querySelector(".date"),
  daysContainer = document.querySelector(".days"),
  prev = document.querySelector(".prev"),
next = document.querySelector(".next");

let today = new Date();
let activeDay;
let month = today.getMonth();
let year = today.getFullYear();

const months = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

function initCalendar() {
    const firstDay = new Date(year, month, 1);
    const lastDay = new Date(year, month + 1, 0);
    const prevLastDay = new Date(year, month, 0);
    const prevDays = prevLastDay.getDate();
    const lastDate = lastDay.getDate();
    const day = firstDay.getDay();
    const nextDays = 7 - lastDay.getDay() - 1;
    
    date.innerHTML = months[month] + " " + year;


    let days = "";

  for (let x = day; x > 0; x--) {
    days += `<div class="day prev-date">${prevDays - x + 1}</div>`;
  }

  for (let i = 1; i <= lastDate; i++) {
    if (
      i === new Date().getDate() &&
      year === new Date().getFullYear() &&
      month === new Date().getMonth()
    ) {
      days += `<div class="day today">${i}</div>`;
    }
    else{
      days += `<div class="day">${i}</div>`;
    }
  }
    
  for (let j = 1; j <= nextDays; j++) {
    days += `<div class="day next-date">${j}</div>`;
  }

  daysContainer.innerHTML = days;


}

initCalendar();

function prevMonth() {
  month--;
  if (month < 0) {
    month = 11;
    year--;
  }
  initCalendar();
}

function nextMonth() {
  month++;
  if (month > 11) {
    month = 0;
    year++;
  }
  initCalendar();
}

prev.addEventListener("click", prevMonth);
next.addEventListener("click", nextMonth);

initCalendar();



 </script>
</body>
</html>